
@font-face {
  font-family: 'MfDelicate';
  src: url('./fonts/MfDelicateLittleFlower.ttf') format('truetype');
}

/* ----------------- CURVAS ----------------- */
.curva {
  width: 100%;
  display: block;
  position: relative;
}

.curva-bottom {
  margin-bottom: -1px;
  background-color: #C7762C;
}

.curva-top {
  margin-top: -5px;
}

/* ----------------- CARDS ----------------- */
.card-servico {
  width: 100%;
  max-width: 18rem;
  border-radius: 20px;
  overflow: hidden;
}

/* ----------------- FOOTER ----------------- */
.footer-links {
  list-style: none;
  padding-left: 0;
}

.footer-links li a {
  text-decoration: none;
  color: #333;
}

.rodape {
  background-color: #edad7d !important;
  padding: 30px 0;
}

/* ----------------- SECÇOES ----------------- */
.secao-sobre { 
  background-color: #EEAD7D; 
}
.secao-servicos 
{ 
  background-color: #C7762C; 
}
.secao-galeria {
  background-color: #B35904;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secao-contactos {
  position: relative;
  background-color: #974A02; 
  padding: 90px 0;
  overflow: hidden;
}

/* ----------------- NAVBAR ----------------- */
.custom-navbar { background-color: #edad7d; padding: 10px 0; }

.navbar-nav .nav-link {
  color: #7a3a00 !important;
  font-weight: bold;
  margin: 0 15px;
  transition: 0.3s;
  font-family: 'MfDelicate'; 
  letter-spacing: 1.5px;
}

.navbar-nav .nav-link:hover { color: #4d1f00 !important; }

.nav-item {
  margin: 2px;
  padding: 2px;
}

.nav-item:hover { background-color: #7a3a00; }

/* ----------------- LOGO ----------------- */
.logo { height: 60px; margin-bottom: 10px; }

/* ----------------- HOME ----------------- */
.home h1 {
  color: #7a3a00;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

#home .foto-home {
  width: 100%;
  max-width: 350px;
  position: relative;
  margin: 20px auto 0;
  display: block;
  z-index: 1;   
}

.onda-home { position: relative; z-index: 3; margin-top: 150px; }

.col-md-6.position-relative { min-height: 100px; }

/* ----------------- TITULO ARQUEADO ----------------- */
.titulo-arqueado {
  display: flex;
  justify-content: center;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 20px;
  color: #9b5525; 
  margin: 40px 0;
}

.titulo-arqueado span { display: inline-block; }

/* ----------------- RODA sobre----------------- */
.roda {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 10px solid #974A02;
  overflow: hidden;
  margin: 0 auto;
}

.roda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------- FORMULÁRIO ----------------- */
.enviar, .caixa_form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  border-radius: 20px;
  display: block;
  margin: 10px auto;
  box-sizing: border-box;
}

.enviar {
  border: solid 2px #EEAD7D;
  background: #974A02;
  color: #EEAD7D;
  transition: transform 0.3s ease;
}

.enviar:hover {
  background: #EEAD7D;
  color: #974A02 ;
  transform: scale(1.1);
}

.caixa_form {
  border: solid 2px #803a00;
  background-color: #EEAD7D;
}


.gallery-masonry {
  column-count: 4;
  column-gap: 15px;
}

.gallery-item {
  position: relative;
  break-inside: avoid;
  margin-bottom: 15px;
  cursor: pointer;
}

.gallery-item img {
  border: 1px solid #EEAD7D;
  width: 100%;
  display: block;
  border-radius: 10px;
  transition: .3s ease;
}


@media (max-width: 992px) { .gallery-masonry { column-count: 3; } }
@media (max-width: 768px) {
  h1 { font-size: 28px !important; }
  .titulo-arqueado { font-size: 30px; letter-spacing: 10px; }
  .navbar-nav { background: #edad7d; }
  .nav-item { margin: 5px 0; }
  .home { text-align: center; }
  #home .foto-home { max-width: 250px; }
  .roda { max-width: 250px; }
  .enviar, .caixa_form { max-width: 100%; width: 90%; }
}
@media (max-width: 576px) { .gallery-masonry { column-count: 1; } }